<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 ERROR</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font: 110%/1.5 system-ui, sans-serif;
      background: #131417;
      color: white;
      height: 100vh;
      margin: 0;
      display: grid;
      place-items: center;
      padding: 2rem;
    }
    main {
      max-width: 350px;
    }
    a {
      color: #56BBF9;
    }
  </style>
</head>
<body>
  <main>
    <h1 data-test-id="text-404">404</h1>
    <p>404 PAGE NOT AVAILABLE!! &nbsp;</p>
    <p>Check URL OR cHECK SPELLING</p>
    <ul>
      <li>
        <a href="about">Redirect to about</a>
      </li>
    </ul>
  </main>
</body>
</html>