<div class="container" style="padding-top:60px">
<div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p><strong>About MYSELF</strong></p>

          <p>Name             : Vishesh Dineshbhai Patel </p>
          <p>Course           : Computer Programming </p> 
          <p>Subject          : WEB322</p>  
          <p>Section          : ZCC </p> 
          <p>College          : Seneca College </p> 
          <p>Dream Proffesion : Web Developer, but in my free time I learn java for android app development.</p> 
          <p>Thank You... Have a good day...</p> </article>
        
        </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon...</h2>
          <p>In the joy of others, lies our own."</p>

         <p >I live my life with this quote and this quote is written by my Guru, Parmukh swami Maharaj  #PSM100</p>
       
        </aside>
        <div class="row">
          <section class="main col-md-12">
           <!-- quotes from the internet for just extra work -->
        <h2>“In order for the light to shine so brightly, the darkness must be present.”</h2> 
        
          <img src="pic.jpg"  width="1200" height="600">
          </section> </div>
          
        
      </div>
      </div>
      </div>